@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: "Lekton", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}


// Clearfix
body,
html,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

 
a {
  color: black
}
a.router-link {
  text-decoration: none;
}
a.router-link-active {
  text-decoration: underline;
  color: black
}

.bg-primary {
  background: #92beff;
  color: black;
}
.bg-secondary {
  background: #003b95;
  color: white;
  a, a.router-link-active {
    color: white
  }
}