@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: "Lekton", serif;
    font-optical-sizing: auto;
    font-weight: bold;
}

.text-bold {
    font-weight: bold;
}


// Clearfix
body,
html,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}